:root{
    --clr-dark:#0f172a;
    --clr-light:#ffffff;
    --clr-accent: #ff0000;
    --clr-shad: #ff001159;
    --clr-head:#850000;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

button{
    background-color: #850000;
    border: 3px solid var(--clr-dark);
}

.clearfix::after{
    clear: both;
    display: block;
    content: "";
}

.top_bar{
    border: 3px solid var(--clr-dark);
    height: 75px;
    line-height: 75px;
    display: flex;
    background-color: var(--clr-head);
}

a:link, a:visited {
    color: white;
  }
  
  a:hover, a:active {
    color: #850000;
  }

#heading{
  position: relative;
  top: -35%;
  margin-left: 75px;
}

#nav_pic{
    display: flex;
    margin: 15px;
}

#nav{
    display: flex;
    position: relative;
    top: -100%;
    left: 0%;
    margin-left: 5px;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-dark);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    display: block;
    background-color: white;
    color: #0f172a;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover{
    color: black;
    background-color: #850000;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    font-weight: 800;
    align-content: space-around;
    text-align: center;
}

#item{
    margin: 10px;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-dark);
    width: 250px;
    height: 300px;
}

#imgs{
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-dark);
}

.bot_bar{
    border: 3px solid var(--clr-dark);
    height: 75px;
    line-height: 75px;
    display: flex;
    background-color: var(--clr-shad);
}

#quck{
    position: relative;
    top: -35%;
    left: 0%;
    margin-left: 10px;
}

#box{
    margin: 10px;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-dark);
    width: 300px;
    height: 475px;
}

h3{
    text-align: justify;
    margin-left: 50px;
}

.location{
    margin-top: 25px;
    background-color: lightsalmon;
    color: black;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    padding: 3px;
}
