:root{
    --clr-dark:#0f172a;
    --clr-light:#f1f5f9;
    --clr-accent:#e11d48;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

#wrapper{
    width: 97%;
    margin: auto;
}

.clearfix::after{
    clear: both;
    display: block;
    content: "";
}

#nav{
    background-color: whitesmoke;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 1px;
    position: sticky;
    top: 0px;
    width: 100%;
}

#background{
    background-image:url();
    background-size: cover;
    background-position: center;
    height: 1000px;
}

h1{
    background-color: lightsalmon;
    color: black;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    padding: 3px;
}

#acc{
    background-color: brown;
    border-radius: 15px;
    border: 3px solid var(--clr-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

    #acc_pearl{
        display: flex;
        flex-direction: row;
        width: 350px;
        background-color: #fb7185;
        font-weight: 600;
        color: var(--clr-dark);
        border: 3px solid var(--clr-dark);
        border-radius: 10px;
        padding-left: 10px;
    }
    
        #acc_pearl_pic{
            display: flex;
            border-style: solid;
            border-radius: 25px;
            max-width: 150px;
            min-width: 150px;
        }

            #acc_pearl_lpd{
                margin-top: 60px;
            }

    #acc_yamaha{
        display: flex;
        flex-direction: row;
        width: 350px;
        background-color: #fb7185;
        font-weight: 600;
        color: var(--clr-dark);
        border: 3px solid var(--clr-dark);
        border-radius: 10px;
        padding-left: 10px;
    }

        #acc_yamaha_pic{
            float: left;
            border-style: solid;
            border-radius: 25px;
            max-width: 150px;
            min-width: 150px;
        }

            #acc_yamaha_lpd{
                float: left;
            }

    #acc_mapex{
        display: flex;
        flex-direction: row;
        width: 350px;
        background-color: #fb7185;
        font-weight: 600;
        color: var(--clr-dark);
        border: 3px solid var(--clr-dark);
        border-radius: 10px;
        padding-left: 10px;
    }

        #acc_mapex_pic{
            float: left;
            border-style: solid;
            border-radius: 25px;
            max-width: 150px;
            min-width: 150px;
        }

            #acc_mapex_lpd{
                float: left;
            }

    #acc_dw{
        display: flex;
        flex-direction: row;
        width: 350px;
        background-color: #fb7185;
        font-weight: 600;
        color: var(--clr-dark);
        border: 3px solid var(--clr-dark);
        border-radius: 10px;
        padding-left: 10px;
    }
    
        #acc_dw_pic{
            float: left;
            border-style: solid;
            border-radius: 25px;
            max-width: 150px;
            min-width: 150px;
        }

            #acc_dw_lpd{
                float: left;
            }

#ele{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#hyb{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#caj{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#fivea{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#sevena{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#bru{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#sna{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#basd{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#tom{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#cra{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#rid{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#hic{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#spl{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#hip{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#basp{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#sto{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#pad{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}
