html{
    background-color: lightcoral;
}

*{
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#wrapper{
    width: 95%;
    margin: auto;
}

.clearfix::after{
    clear: both;
    display: block;
    content: "";
}

h1{
    background-color: red;
    color: black;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    padding: 3px;
}

#acc{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    line-height: 25px;
    min-height: 25px;
    padding: 3px;
}

    #acc_pearl{
        float: left;
        background-color: lightcoral;
        color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 15px;
        padding-left: 13px;
        line-height: 25px;
        min-height: 25px;
        padding: 3px;
        margin-right: 2%;
        max-width: 250px;
        min-width: 250px;
    }
    
        #acc_pearl_pic{
            border-style: solid;
            border-radius: 25px;
            max-width: 150px;
            min-width: 150px;
        }

    #acc_yamaha{
        float: left;
        background-color: lightcoral;
        color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 15px;
        line-height: 25px;
        min-height: 25px;
        padding: 3px;
        margin-right: 2%;
        max-width: 250px;
        min-width: 250px;
    }

        #acc_yamaha_pic{
            border-style: solid;
            border-radius: 25px;
        }

    #acc_mapex{
        float: left;
        background-color: lightcoral;
        color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 15px;
        padding-left: 13px;
        line-height: 25px;
        min-height: 25px;
        padding: 3px;
        margin-right: 2%;
        max-width: 250px;
        min-width: 250px;
    }

        #acc_mapex_pic{
                border-style: solid;
                border-radius: 25px;
        }

    #acc_dw{
        float: left;
        background-color: lightcoral;
        color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 15px;
        padding-left: 13px;
        line-height: 25px;
        min-height: 25px;
        padding: 3px;
        margin-right: 2%;
        max-width: 250px;
        min-width: 250px;
    }
    
        #acc_dw_pic{
                border-style: solid;
                border-radius: 25px;
        }

#ele{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#hyb{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#caj{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#fivea{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#sevena{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#bru{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#sna{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#basd{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#tom{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#cra{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#rid{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#hic{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#spl{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#hip{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#basp{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#sto{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#pad{
    background-color: brown;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}
